{% load guolvqi %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/order/css.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/order/global.css"/>
{#<script type="text/javascript" src="/static/js/order/jquery-1.7.2.min.js"></script>#}
<script type="text/javascript" src="/static/js/order/jsstyle.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $(function () {
        var region = $("#region");
        var address = $("#address");
        var number_this = $("#number_this");
        var name = $("#name_");
        var phone = $("#phone");
        $("#sub_setID").click(function () {
            var input_out = $(".input_style");
            for (var i = 0; i <= input_out.length; i++) {
                if ($(input_out[i]).val() == "") {
                    $(input_out[i]).css("border", "1px solid red");

                    return false;
                } else {
                    $(input_out[i]).css("border", "1px solid #cccccc");
                }
            }
        });
        var sum_price = $(".sum_price");
        var b = 0;
        for (var i = 0; i < sum_price.length; i++) {
            b += parseFloat($(sum_price[i]).html());
        }
        var out_momey = $(".out_momey");
        out_momey.html(b);
        $(".shade_content").hide();
        $(".shade").hide();
        $('.nav_mini ul li').hover(function () {
            $(this).find('.two_nav').show(100);
        }, function () {
            $(this).find('.two_nav').hide(100);
        });
        $('.left_nav').hover(function () {
            $(this).find('.nav_mini').show(100);
        }, function () {
            $(this).find('.nav_mini').hide(100);
        });
        $('#jia').click(function () {
            $('input[name=num]').val(parseInt($('input[name=num]').val()) + 1);
        });
        $('#jian').click(function () {
            $('input[name=num]').val(parseInt($('input[name=num]').val()) - 1);
        });
        let data = {};
        $('.Caddress .add_mi').click(function () {
            $(this).css('background', 'url("/static/img/mail_1.jpg") no-repeat').siblings('.add_mi').css('background', 'url("/static/css/images/mail.jpg") no-repeat')
            data = {
                address_p: $(this).attr('address_p'),
                address_r: $(this).attr('address_r'),
                user_name: $(this).attr('user_name'),
                phone: $(this).attr('phone'),
                postcode: $(this).attr('postcode'),
            }
        });
        var pay_url = '{% url 'pay_money' %}';

        $('#pay').click(function () {
            $.post(pay_url, data, function (result) {
                if (result.status === 200) {
                    window.location.href = '{% url 'pay_money' %}';
                }
            });
        })
    });
    var x = Array();

    function func(a, b) {
        x[b] = a.html();
        alert(x);
        a.css('border', '2px solid #f00').siblings('.min_mx').css('border', '2px solid #ccc');
    }

    function onclick_close() {
        var shade_content = $(".shade_content");
        var shade = $(".shade");
        if (confirm("确认关闭么！此操作不可恢复")) {
            shade_content.hide();
            shade.hide();
        }
    }

    function onclick_open() {
        $(".shade_content").show();
        $(".shade").show();
        var input_out = $(".input_style");
        for (var i = 0; i <= input_out.length; i++) {
            if ($(input_out[i]).val() != "") {
                $(input_out[i]).val("");
            }
        }
    }

    function onclick_remove(r) {
        if (confirm("确认删除么！此操作不可恢复")) {
            var out_momey = $(".out_momey");
            var input_val = $(r).parent().prev().children().eq(1).html();
            var span_html = $(r).parent().prev().prev().children().eq(1).html();
            {#var out_add = parseFloat(input_val).toFixed(2) * parseFloat(span_html).toFixed(2);#}
            var reduce = parseFloat(out_momey.html()).toFixed(2) - parseFloat(input_val).toFixed(2);
            console.log(parseFloat(reduce).toFixed(2));
            out_momey.text(parseFloat(reduce).toFixed(2));
            $(r).parent().parent().remove();
        }
    }

    function onclick_btnAdd(a) {
        var out_momey = $(".out_momey");
        var input_ = $(a).prev();
        var input_val = $(a).prev().val();
        var sum_price = $(a).parent().next().children().eq(1);
        var input_add = parseInt(input_val) + 1;
        input_.val(input_add);
        var btn_momey = parseFloat($(a).parent().prev().children().html());
        var out_momey_float = parseFloat(out_momey.html()) + btn_momey;
        out_momey.text(out_momey_float.toFixed(2));
        var sum_a = parseFloat(sum_price.html());
        var sum = sum_a + btn_momey;
        sum_price.text(sum.toFixed(2))
    }

    function onclick_reduce(b) {
        var out_momey = $(".out_momey");
        var input_ = $(b).next();
        var input_val = $(b).next().val();
        var sum_price = $(b).parent().next().children().eq(1);
        if (input_val <= 1) {
            alert("商品个数不能小于1！")
        } else {
            var input_add = parseInt(input_val) - 1;
            input_.val(input_add);
            var btn_momey = parseFloat($(b).parent().prev().children().html());
            var out_momey_float = parseFloat(out_momey.html()) - btn_momey;
            out_momey.text(out_momey_float.toFixed(2));
            var sum_a = parseFloat(sum_price.html());
            var sum = sum_a - btn_momey;
            sum_price.text(sum.toFixed(2))
        }
    }
</script>
<div class="Caddress">
    <div class="open_new">
        <button class="open_btn" onclick="javascript:onclick_open();">使用新地址</button>
    </div>
    {% for address in addresses %}
        <div class="add_mi" address_p="{{ address.address_p }}" address_r="{{ address.address_r }}"
             user_name="{{ address.user_name }} " phone="{{ address.phone }}" postcode="{{ address.postcode }}">
            <p style="border-bottom:1px dashed #ccc;line-height:28px;">{{ address.address_p }}({{ address.user_name }}收) {{ address.postcode }}</p>
            <p>{{ address.address_r }} {{ address.phone }}</p>
        </div>
    {% endfor %}
</div>

<!--
    作者：z@163.com
    时间：2016-03-04
    描述：商品内容
-->
<div class="shopping_content">
    <div class="shopping_table">
        <table border="1" bordercolor="#cccccc" cellspacing="0" cellpadding="0"
               style="width: 100%; text-align: center;">
            <tr>
                <th>商品图片</th>
                <th>商品名称</th>
                <th>商品参数</th>
                <th>商品价格</th>
                <th>商品数量</th>
                <th>商品总价</th>
                <th>商品操作</th>
            </tr>
            {% for car in car_id %}
                <tr>
                    <td>
                        <a><img src="{{ car.book.book_img }}" style="width: 100px;height:120px;"/></a>
                    </td>
                    <td><span>{{ car.book.book_title }}</span></td>
                    <td>
                        <div class="">
                            <span id="">规格</span>：<span>默认</span>
                        </div>

                    </td>
                    <td>
                        <span class="span_momey">{{ car.book.book_price }}</span>
                    </td>
                    <td>
                        <button class="btn_reduce" onclick="javascript:onclick_reduce(this);">-</button>
                        <input class="momey_input" type="" name="" id="" min="1" max="{{ car.book.book_stock }}"
                               value="{{ car.number }}"
                               disabled=" disabled"/>
                        <button class="btn_add" onclick="javascript:onclick_btnAdd(this);">+</button>
                    </td>
                    <td>
                        <span>￥</span>
                        <span class="sum_price">{{ car.number|cheng:car.book.book_price }}</span>
                    </td>
                    <td>
                        <button class="btn_r" onclick="javascript:onclick_remove(this);">删除</button>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="" style="width: 100%; text-align: right; margin-top: 10px;">
            <div class="div_outMumey" style="float: left;">
                总价：<span class="out_momey">0</span>
            </div>
            <button class="btn_closing" id="pay">支付</button>
        </div>
    </div>
</div>

<div class="shade">
</div>

<div class="shade_content">
    <div class="col-xs-12 shade_colse">
        <button onclick="javascript:onclick_close();">x</button>
    </div>
    <div class="nav shade_content_div">
        <div class="col-xs-12 shade_title">
            新增收货地址
        </div>
        <div class="col-xs-12 shade_from">
            <form action="{% url 'address' %}" method="post">
                <div class="col-xs-12">
                    <span class="span_style" id="">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区</span>
                    <input class="input_style" type="text" name="address_p" id="region" value=""
                           placeholder="&nbsp;&nbsp;请输入您的所在地区"/>
                </div>
                <div class="col-xs-12">
                    <span class="span_style" id="">详细地址</span>
                    <input class="input_style" type="text" name="address_r" id="address" value=""
                           placeholder="&nbsp;&nbsp;请输入您的详细地址"/>
                </div>
                <div class="col-xs-12">
                    <span class="span_style" id="">邮政编号</span>
                    <input class="input_style" type="text" name="postcode" id="number_this" value=""
                           placeholder="&nbsp;&nbsp;请输入您的邮政编号"/>
                </div>
                <div class="col-xs-12">
                    <span class="span_style" class="span_sty" id="">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</span>
                    <input class="input_style" type="text" name="user_name" id="name_" value=""
                           placeholder="&nbsp;&nbsp;请输入您的姓名"/>
                </div>
                <div class="col-xs-12">
                    <span class="span_style" id="">手机号码</span>
                    <input class="input_style" type="text" name="phone" id="phone" value=""
                           placeholder="&nbsp;&nbsp;请输入您的手机号码"/>
                </div>
                <div class="col-xs-12">
                    <input class="btn_remove" type="button" id="" onclick="javascript:onclick_close();" value="取消"/>
                    <input type="submit" class="sub_set" id="sub_setID" value="提交"/>
                </div>
            </form>
        </div>
    </div>
</div>

