<div id="bbok_detail" style="background: gainsboro">
    <div style="width: 1200px;margin: auto;clear: both">
        <div id="detail_left">
            <h2 style="text-align: center;font-weight: bold">{{ book.book_title }}</h2>
            <img src="{{ book.book_img }}" style="width: 280px;height: 320px">
            <p style="font-size: 18px;font-weight: bold">作者 : {{ book.book_author }}</p>
            <p style="font-size: 18px;font-weight: bold">状态 : {{ book.book_state }}</p>
            <p style="font-size: 18px;font-weight: bold">价格 : {{ book.book_price }} 元</p>
            <p style="font-size: 18px;font-weight: bold"><input type="number" id="number" min="1"
                                                                max="{{ book.book_stock }}" value="1">件
                库存量{{ book.book_stock }}件
            </p>
        </div>
        <div id="detail_right" style="position: relative;left: 300px;top: -300px;width: 800px">
            <span style="font-weight: bold;font-size: 25px;word-wrap: break-word;">{{ book.book_introduce }}</span>
        </div>
        <div style="position: relative;left: 320px;top: -150px">
            <a href="{% url 'chapter' %}?book_id={{ book.book_id }}">
                <button type="button" class="btn btn-danger" style="width: 200px;height: 60px">开始阅读</button>
            </a>
            <a>
                <button type="button" id="add" class="btn btn-warning" style="width: 200px;height: 60px">添加到购物车</button>
            </a>
            <a>
                <button type="button" id="buy" class="btn btn-primary" style="width: 200px;height: 60px">立即购买</button>
            </a>
        </div>
    </div>
</div>